.¼ {
    width: 25%;
    height: 50px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: -1px;
    box-sizing: border-box;
}

.¼:first-child {
    padding-left: 0px;
}

.¼:last-child {
    padding-right: 0px;
}